{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">
    <section
    class="jumbotron text-center mt-4"
    style="
    background: url('/static/jpg.jpg');
    background-position: center center;"
    >
        <h1 class="display-4">World Tours</h1>
        <p class="lead">{{ subtitle }}</p>
        <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <div class="row mt-5">
    {% for num_of_tour, tour_info in all_tours.items() %}
    <div class="col-4" style=" display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap;">
        <div class="card mb-4 ">
          <div class="embed-responsive embed-responsive-16by9">  
          <img src="{{ tour_info.picture }}" class="card-img-top img-fluid embed-responsive-item" alt="">
          </div>
          <div class="card-body d-flex justify-content-between flex-column">
            <h2 class="h5 card-title d-flex justify-content-between">
              <div>{{ tour_info.country[0] }}: {{ tour_info.title }} </div><div>{{ tour_info.stars }}★</div>
            </h2>
            <p class="card-text">{{ tour_info.description|truncate(120) }}</p>
            <a href="/data/tours/{{ num_of_tour }}/" class="btn btn-dark">More</a>
          </div>
        </div>
      </div> 
    {% endfor %} 
    </div>
</main>
{% endblock %}