{% extends 'base.html' %}

{% block content %}
    <main class="container">
      <section class="mt-3 pb-5">
        <a href="/"><button type="button" class="btn btn-dark">Back to the main</button></a>

        <h1 class="display-4 mt-4">{{ tour_info.title }} {{ tour_info.stars|int * '★' }}</h1>
        <p class="lead"
        >{{ tour_info.country[0] }} | {{ all_departures[tour_info.departure] }} | {{ tour_info.nights }} nights{% if weather %}</p>
        {% endif %}<img
          src="{{ tour_info.picture }}"
          class="w-75"
          alt="Photo"
          style="width: 915px; height: 610px"
        />
        <p class="my-4 w-75">{{ tour_info.description }}</p>
        <a href="https://www.booking.com/" class="btn btn-dark">Buy tour {{ tour_info.price }} ₽</a>
      </section>
    </main>
{% endblock %}